<div class="jumbtron">
  <form
    #form="ngForm"
    (submit)="onSubmit(form)"
    autocomplete="off"
    class="col-md-5 form"
  >
    <h2 class="text-center text-primary">Order</h2>
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />

    <div class="form-group">
      <input
        id="bookTypeahead"
        type="text"
        class="form-control"
        name="bookId"
        #bookId
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        [(ngModel)]="formData.bookId"
        [ngbTypeahead]="searchBooks"
        placeholder="Book Title"
        required
        (selectItem)="onBookSelect($event)"
        
      />
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['bookId']?.invalid && form.controls['bookId']?.touched
        "
      >
        Please inform the book.
      </div>
    </div>

    <div class="form-group">
      <input
        id="clientTypeahead"
        type="text"
        class="form-control"
        name="clientId"
        #clientId
        [(ngModel)]="formData.clientId"
        [ngbTypeahead]="searchClients"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        placeholder="Client Name"
        required
        (selectItem)="onClientSelect($event)"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['clientId']?.invalid &&
          form.controls['clientId']?.touched
        "
      >
        Please inform the client's name.
      </div>
    </div>

    <div class="form-group">
      <input
        type="number"
        name="quantity"
        #quantity="ngModel"z
        [(ngModel)]="formData.quantity"
        class="form-control"
        required
        [ngClass]="{
          'is-invalid':
            form.controls['quantity']?.invalid &&
            form.controls['quantity']?.touched
        }"
        placeholder="Quantity"
        (input)="onQuantityChange()"
      />
      <div
        class="invalid-feedback"
        *ngIf="quantity.invalid && quantity.touched"
      >
        Please inform the quantity of the book.
      </div>
    </div>

    <div class="form-group">
      <p>Total Price: {{ formData.totalPrice | currency }}</p>
    </div>

    <div class="form-group text-center">
      <button
        class="btn btn-success mr-2"
        [disabled]="form.invalid"
        type="submit"
      >
        Save
      </button>
      <button class="btn btn-default" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
